<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>STRMarQuee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C8B9D431EFA956700FCC81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C8B9D5C1EFA956700FCC81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C8B9D671EFA956700FCC81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
